*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
}
.game{
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    background-image: url("game.jpg");
    position:relative;
}
#character{
    width: 20px;
    height: 50px;
    background-image: url("running.png");
    background-size: 30px 40px  ;
    background-repeat: no-repeat;
    position:relative;
    top: 150px;
}
.animate{
    animation: jump 0.5s linear;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#block{

    width: 20px;
    height: 40px;
    
    background-image: url("bomb.png");
    background-size: 40px 30px  ;
    background-repeat: no-repeat;
    position: relative;
    top: 110px;
    left: 580px;
    animation: block 3s infinite linear;
}

@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}
p{
    text-align: center;
}

